[project]
name = "subtitles"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "charset-normalizer>=3.4.4",
    "pysubs2>=1.8.0",
    "streamlit>=1.53.1",
]
